<?xml version="1.0" encoding="utf-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <description>
        helloworld app.
    </description>
    <display-name>Test helloworld app.</display-name>
    <servlet>
        <servlet-name>HelloworldFromItAcademy</servlet-name>
        <servlet-class>projects.telushko.servlets.hello</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloworldFromItAcademy</servlet-name>
        <url-pattern>/hello/</url-pattern>
    </servlet-mapping>
</web-app>